.container, .progress {
  display: inline-block;
}

.container {
  background-color: black;
  width: 50%;
  height: 50px;
  padding: 2px;
}

.progress {
  background-color: lightgreen;
  width: 0%;
  height: 100%;
}
