.container, .progress {
  display: inline-block;
}

.container {
  background-color: black;
  width: 100px;
  max-width: 100px;
  border: 1px solid black;
  padding: 2px;
}

.progress {
  background-color: yellow;
  width: 10%;
  height: 20px;
}
