<!DOCTYPE html>
<html ng-app="ThreeButtons" ng-init="test='hello';">
  <head>
    <meta charset="utf-8">
    <title>Three Cities</title>
  </head>
  <body ng-controller="ButtonController as button">
    <form>
      <input ng-model="button.textTime">
      <button>Click Me!</button>
    </form>
    <div>
      yis {{test}}
    </div>
    <div>
      {{button.textTime}}
    </div>
    <div ng-repeat="city in button.cities | filter:button.textTime">
      <button className="{{$index}}">Show City Info</button>
      <div className="{{$index}}">{{city.id}}</div>
      <div className="{{$index}}">{{city.name}}</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="./app.js"></script>
  </body>
</html>