<!DOCTYPE html>
<html ng-app="ThreeButtons" ng-init="test='hello';">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Three Cities</title>
  </head>
  <body ng-controller="ButtonController as button">
    <form>
      <input ng-model="button.textTime">
      <button>Click Me!</button>
    </form>
    <div>
      yis {{test}}
    </div>
    <div>
      {{button.textTime}}
    </div>
    <span ng-repeat="city in button.cities | filter:button.textTime" class="container">
      <button class="{{$index}}" ng-click="button.showInfo($index, button.cities)">Show City Info</button>
      <div class="{{$index}}" ng-show="city.visible">{{city.id}}</div>
      <div class="{{$index}}" ng-show="city.visible">{{city.name}}</div>
    </span>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script type="text/javascript" src="./app.js"></script>
    <script type="text/javascript" src="./buttonService.js"></script>
  </body>
</html>